.bfx-crypto-container {
  position: relative;
}

.bfx-marker-popup .header {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bfx-marker-popup .bfx-marker-left-col {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  max-width: 100%;
}

.bfx-marker-popup .logo {
  flex-basis: 70px;
  width: 70px;
  min-width: 70px;
  height: 70px;
}

.bfx-marker-popup .bfx-marker-title h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  line-height: 20px;
}

.bfx-marker-popup .bfx-marker-description {
  opacity: 0.5;
  margin-top: 5px;
}

.bfx-marker-popup .bfx-marker-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.bfx-marker-popup .tag {
  height: fit-content;
}

.bfx-marker-popup .footer {
  margin-top: 15px;
}

.bfx-marker-popup .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.bfx-marker-popup .label {
  font-weight: bold;
}

.bfx-marker-popup .tag {
  color: #C85263;
  background: rgba(205, 188, 190, 0.16);
  border-radius: 6px;
  padding: 3px 9px;
  white-space: nowrap;
}

.bfx-marker-popup .tokens {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 250px;
}

.bfx-marker-popup .token {
  color: #C85263;
  background: rgba(205, 188, 190, 0.16);
  border-radius: 10px;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bfx-marker-popup .website {
  display: flex;
  gap: 5px;
  height: 24px;
  flex-shrink: 0;
}

.bfx-mobile-popup {
  margin-bottom: 72px;
}

/* start filter */
.bfx-crypto-filter-container {
  position: absolute;
  z-index: 450; /* on top of the map */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
}

.bfx-crypto-filter {
  display: flex;
  gap: 6px;
}

.bfx-crypto-filter-left {
  width: 800px;
}

#bfx-crypto-layer-select-mobile-btn {
  display: none;
}

.bfx-crypto-filter-box {
  box-sizing: border-box;
  padding: 6px;
  background-color: #fff;
  border-radius: 12px;
  height: 52px;
}

.bfx-crypto-filter-bar {
  display: flex;
  gap: 6px;
  align-items: center;
  display: flex;
  flex: 1;
}

#bfx-crypto-clear-filter-btn {
  font-weight: 700;
  font-size: 13px;
  color: #C85263;
  gap: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.bfx-crypto-filter-clear-all.hidden {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .bfx-crypto-filter {
    flex-direction: column;
  }

  .bfx-crypto-filter-right {
    display: none;
  }

  #bfx-crypto-layer-select-mobile-btn {
    display: block;
  }

  .bfx-crypto-filter .bfx-crypto-filter-clear-all .filter-btn {
    width: 100%;
    justify-content: center;
  }

  .bfx-crypto-filter .bfx-crypto-filter-clear-all .filter-btn span {
    display: block;
  }

}

.bfx-crypto-filter-bar > * {
  flex: 1;
}

.bfx-crypto-filter-popup {
  position: absolute;
  background-color: #fff;
  color: #586871;
  top: 66px;
  right: 0;
  max-height: 400px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 12px;
  overflow-y: auto;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .bfx-crypto-filter-popup {
    width: 280px;
  }
}

.bfx-cryto-filter-popup .filter-title {
  font-weight: bold;
}

.bfx-crypto-filter .filter-checkbox input {
  display: none;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

.bfx-crypto-filter .filter-content .filter-checkbox {
  border-bottom: 1px solid rgba(65, 102, 188, 0.06);
  margin-bottom: 14px;
}

.bfx-crypto-filter .filter-checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bfx-crypto-filter .filter-title {
  font-weight: bold;
  border-bottom: 1px solid rgba(65, 102, 188, 0.06);
  margin-bottom: 14px;
  padding-bottom: 5px;
}

.bfx-crypto-filter .filter-checkbox label:before {
  content: "";
  background: url('./unchecked.png');
  display: block;
  width: 18px;
  height: 18px;
}

.bfx-crypto-filter .filter-checkbox input:checked + label:before {
  background: url('./checked.png');
}

.bfx-crypto-filter-popup {
  display: none;
}

.bfx-crypto-filter-popup.active {
  display: block;
}

#bfx-crypto-popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 449;
  display: none;
}

#bfx-crypto-popup-overlay.active {
  display: block;
}

#bfx-crypto-layer-popup {
  width: 190px;
}

#bfx-crypto-layer-popup .filter-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#bfx-crypto-layer-popup .filter-checkbox {
  border-bottom: 1px solid rgba(65, 102, 188, 0.06);
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  align-items: center;
  cursor: pointer;
}

#bfx-crypto-layer-popup .filter-checkbox label {
  cursor: pointer;
}

.filter-icon-wrapper {
  position: relative;
}

#filter-number {
  display: none;
  position: absolute;
  bottom: -5px;
  right: -7px;
  width: 14px;
  height: 14px;
  border-radius: 8px;
  background: #C85263;
  color: #fff;
  font-size: 9px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
}

#filter-number.active {
  display: block;
}

.bfx-crypto-filter .search-container {
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  gap: 5px;
  background: rgba(200, 82, 99, 0.06);
  border-radius: 6px;
  height: 40px;
}

.bfx-crypto-filter .search-container img {
  height: 13px;
  width: 14px;
}

.bfx-crypto-filter .search-container input {
  border: 0;
  background-color: transparent;
  color: rgba(23, 45, 62, 0.5);
  font-size: 14px;
  flex: 1;
  padding: 5px 10px;
  outline: none;
}

.bfx-crypto-filter .search-container input::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

.bfx-crypto-filter .filter-btn {
  background: rgba(200, 82, 99, 0.06);
  color: rgba(200, 82, 99, 1);
  border: 0;
  border-radius: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  padding: 5px 18px;
}

.bfx-crypto-filter .filter-btn .arrow {
  flex: 1;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .bfx-crypto-filter .search-container {
    flex-grow: 1;
    min-width: 0;
  }

  .bfx-crypto-filter .filter-btn {
    flex-grow: 0;
    flex-basis: 40px;
    padding: 0 7px;
  }

  .bfx-crypto-filter .filter-btn span, .bfx-crypto-filter .filter-btn .arrow {
    display: none;
  }
}

#bfx-crypto-layer-select-btn {
  width: 40px;
  padding: 0 9px;
}

.bfx-crypto-filter-popup .filter-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bfx-crypto-filter-popup .filter-list .filter-checkbox,
.bfx-crypto-filter-popup .filter-list .filter-checkbox label
{
  display: flex;
  align-items: center;
  gap: 3px;
}
/* end filter */

/* start store list */
#bfx-crypto-store-list-popup {
  left: 8px;
  display: none;
}

#bfx-crypto-store-list-popup.active {
  display: block;
}

#bfx-crypto-store-list-mobile-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  #bfx-crypto-store-list-mobile-btn {
    display: block;
  }

  .bfx-crypto-filter-store-list {
    display: none;
  }

  #bfx-crypto-store-list-popup {
    width: calc(100% - 10px);
    max-height: calc(100vh - 300px);
  }
}

#bfx-crypto-store-list-popup ul {
  list-style: none;
  padding: 0;
}

#bfx-crypto-store-list-popup ul li {
  display: flex;
  gap: 10px;
  font-size: 12px;
  border-bottom: 1px solid rgba(65, 102, 188, 0.06);
  cursor: pointer;
}

#bfx-crypto-store-list-popup ul li img {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

#bfx-crypto-store-list-popup ul li .bfx-crypto-title {
  font-size: 14px;
  font-weight: bold;
}

#bfx-crypto-store-list-popup ul li p {
  margin-bottom: 10px;
}

#bfx-crypto-store-list-popup .center {
  text-align: center;
}
/* end store list */

/* start current pin */
#bfx-crypto-map .current-pin-area {
  border: 0;
}

#bfx-crypto-map .current-pin-btn {
  border-radius: 6px;
}

#bfx-crypto-map .current-pin-btn img {
  margin-top: 5px;
}
/* end current pin */

/* start leaflet reset */
.leaflet-popup-tip-container {
  display: none;
}


.leaflet-popup-content {
  margin: 15px;
}

.leaflet-popup-content p {
  margin: 0;
}
/* end leaflet reset */

/* start customize leaflet marker cluster */
.marker-cluster-small {
	background-color: rgba(200, 82, 99, 0.3);
}

.marker-cluster-small div {
	background-color: rgba(200, 82, 99, 0.4);
}

.marker-cluster-medium {
	background-color: rgba(200, 82, 99, 0.3);
}

.marker-cluster-medium div {
	background-color: rgba(200, 82, 99, 0.6);
}

.marker-cluster-large {
	background-color: rgba(200, 82, 99, 0.3);
}

.marker-cluster-large div {
	background-color: rgba(200, 82, 99, 1);
}

.marker-cluster div {
  color: #fff;
}
/* end customize leaflet marker cluster */


/* start zoom customization */
#bfx-crypto-map .leaflet-control-zoom  {
  border: 0;
}

#bfx-crypto-map .leaflet-control-zoom span {
  color: rgba(200, 82, 99, 1);
}

#bfx-crypto-map .leaflet-control-zoom .leaflet-control-zoom-in {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#bfx-crypto-map .leaflet-control-zoom .leaflet-control-zoom-out {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* end zoom customization */

#bfx-crypto-map .leaflet-control-graphicscale-inner .division .line {
  border-top: 0;
}
